/.ActionOfTransitionQuerySpecification.java._trace
/.AllocatedApplicationQuerySpecification.java._trace
/.PatternAll.java._trace
/.StateTransitionQuerySpecification.java._trace
/.StatemachineStateQuerySpecification.java._trace
/ActionOfTransitionQuerySpecification.java
/AllocatedApplicationQuerySpecification.java
/PatternAll.java
/StateTransitionQuerySpecification.java
/StatemachineStateQuerySpecification.java
